<div>
  <%= f.text_field :tab, placeholder: "Nom de l'onglet" %>
</div>

<div>
  <%= f.icon_field :icon,
        value: @page.icon,
        data: { icon_picker_target: "custom", action: "input->icon-picker#preview" },
        wrapper: { data: { controller: "icon-picker" } },
        icons: %w[house info-circle utensils briefcase user location-dot at star tools folder-open newspaper truck-front] %>
</div>
