

<%= form_with model: [:admin, @site, @page], local: true do |f| %>
  <div class="space-y-4">
    <%= render "fields", f: f %>
    <%= render "admin/cards/form", f: f %>
  </div>
  <%= render "admin/shared/submit_button", f: f %>
<% end %>
