<article>
  <section>
    <header><h2>
      <% if user_signed_in? %>
        <span>M</span>es sites</h2></header>
      <% else %>
        <span>À</span> propos</h2></header>
      <% end %>
    </h2></header>
    <div class="container">
      <div class="col">
        <% if user_signed_in? %>
          <div class="w-ful overflow-x-auto">
            <table class="w-full text-sm text-gray-800">
              <thead>
                <tr>
                  <th class="text-center align-middle font-medium py-2">Nom</th>
                  <th class="text-center align-middle font-medium py-2">État</th>
                  <th class="text-center align-middle font-medium py-2">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @sites.each do |site| %>
                  <tr>
                    <td class="text-center align-middle py-2 pr-2">
                      <%= site.company_name %>
                    </td>

                    <!-- État -->
                    <td class="text-center align-middle py-2 pr-2">
                      <%= site.published? ?
                        content_tag(:span, "", class: "inline-block w-3 h-3 rounded-full bg-green-500 ml-2") :
                        content_tag(:span, "", class: "inline-block w-3 h-3 rounded-full bg-red-500") %>
                    </td>

                    <!-- Actions -->
                    <td class="py-2 text-right whitespace-nowrap">
                      <div class="text-center align-middle justify-end items-center mx-6">
                        <%= link_to root_path(), class: "text-gray-500 hover:text-blue-600", title: "Modifier" do %>
                          <i class="fas fa-edit"></i>
                        <% end %>
                        <%= link_to site_path(site.slug), class: "text-gray-500 hover:text-green-600", title: "Visiter", target: "_blank" do %>
                          <i class="fas fa-eye"></i>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        <% else %>
          <p>Nous sommes une plateforme pensée pour les foodtrucks et petits artisans souhaitant créer facilement leur carte de visite digitale.</p>
          <p>Sans aucune compétence technique, vous personnalisez votre mini-site en quelques clics : pages, photos, textes, horaires, menus… tout est modulable pour refléter votre activité.</p>
          <p>Simple, intuitive et parfaitement adaptée au mobile, Cardify vous aide à gagner en visibilité tout en restant 100% autonome.</p>
        <% end %>
      </div>
    </div>
  </section>
</article>
