<div>
  <%= f.range_field :radius,
        name: "site[setting][theme][radius]",
        value: @site.setting.dig("theme", "radius").to_i,
        label: "Arrondi des éléments",
        min: 0, max: 30, step: 1,
        data: { range_target: "radius", action: "input->range#update" },
        wrapper: { data: { controller: "range" } },
        label_options: { data: { range_target: "label" } } %>
</div>

<div>
  <%= f.color_field :color_primary,
        name: "site[setting][theme][color_primary]",
        value: @site.setting.dig("theme", "color_primary"),
        label: "Couleur principale" %>
</div>

<div>
  <%= f.color_field :color_secondary,
        name: "site[setting][theme][color_secondary]",
        value: @site.setting.dig("theme", "color_secondary"),
        label: "Couleur secondaire" %>
</div>

<div>
  <%= f.checkbox_field :reset,
        name: "site[setting][reset]",
        label: "Réinitialiser le thème" %>
</div>
