<tr>
  <td class="px-4 py-3 text-center align-middle whitespace-nowrap">
    <%= site.company_name %>
  </td>

  <td class="px-4 py-3 text-center align-middle whitespace-nowrap">
    <%= site_status_badge(site) %>
  </td>

  <td class="py-4 text-center align-middle whitespace-nowrap text-lg">
    <%= link_to admin_site_path(site), title: "Modifier", data: { turbo: false }, class: "py-4 px-1 text-gray-500 hover:text-blue-600 transition-colors duration-150" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>

    <%= link_to site_path(site.slug), title: "Visiter", target: "_blank", class: "py-4 px-1 text-gray-500 hover:text-green-600 transition-colors duration-150" do %>
      <i class="fa-solid fa-eye"></i>
    <% end %>
  </td>
</tr>
