<article>
  <section>
    <header><h2>
      <span>M</span>es sites</h2></header>
    </h2></header>
    <div class="container">
      <div class="col">
        <div class="w-ful overflow-x-auto">
          <table class="w-full text-sm text-gray-800">
            <thead>
              <tr>
                <th class="text-center align-middle font-medium py-2">Nom</th>
                <th class="text-center align-middle font-medium py-2">État</th>
                <th class="text-center align-middle font-medium py-2">Actions</th>
              </tr>
            </thead>
            <tbody>
               <%= render @sites %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</article>
