<div data-nested-form-target="item" class="relative border rounded p-4 bg-gray-50">
  <%= f.hidden_field :_destroy %>

  <div class="space-y-4">
    <%= render "admin/social_links/fields", f: f %>
  </div>
</div>
