<article>
  <section>
    <header><h2>
      <span>À</span> propos</h2></header>
    </h2></header>
    <div class="container">
      <div class="col">
        <p>Nous sommes une plateforme pensée pour les foodtrucks et petits artisans souhaitant créer facilement leur carte de visite digitale.</p>
        <p>Sans aucune compétence technique, vous personnalisez votre mini-site en quelques clics : pages, photos, textes, horaires, menus… tout est modulable pour refléter votre activité.</p>
        <p>Simple, intuitive et parfaitement adaptée au mobile, Cardify vous aide à gagner en visibilité tout en restant 100% autonome.</p>
      </div>
    </div>
  </section>
</article>
