<article data-controller="site">
  <section id="<%= @page.slug %>" class="active">
    <turbo-frame id="page_content">
      <%= render partial: "pages/show", locals: { page: @page } %>
    </turbo-frame>
  </section>
</article>
