<article>
  <section>
    <%= render partial: "admin/shared/visit_button", locals: { site: @site } %>
      <header>
        <h2><span>C</span>onfiguration du site</h2>
      </header>
      <div class="container"><div class="col">
        <%= render "shared/error_messages", resource: @site %>
        <div data-controller="accordion">
          <%= render 'form', site: @site %>
        </div>
      </div>
    </div>
  </section>
</article>
